.btn-primary{
	width: 300px;
	height: 200px;
	border-radius: 30px;
	background-color: lightcyan;

}

.btn-primary{
	float: left;
	margin-left: 0px;
	margin-top: 150px;
	margin-right: 100px;
	background: transparent;
	color: #F2F2F2;
	border-color: lightcyan;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}


.btn-primary h1{
	color: black;
	font-family: sans-serif;
}

