
.wrap{
  position: relative;
  margin: 0 auto;
  width:900px;
}

#footer{
  width: 100%;
  float:left;
  padding:15px 0;
}
#footer{
  background: #EC3515;
  text-align: center;
  position: fixed;
  bottom:0;
}