body, html {
	min-height: 100%;
	background-attachment: fixed;
	background-color: lemonchiffon;
	color: sienna;
	padding-bottom: 70px;
}

.navbar {

	width: 100%;
	background-color: teal;
	border-style: none;
	color: lightcyan;

}

.pagecontent {
	
	position: relative;
}

.dropdown {
	padding-top: 11px;
	padding-right: 5px;
}

.dropdown-menu {
	background-color: lemonchiffon;
	list-style: none;
}

.dropdown-menu > li > a {
	color: sienna;
}

.menu-button {
	color: lightcyan;
	background-color: teal;
	border-style: none;
}

.menu-button-cat {
	font-size: 20px;
}

.navbar-brand {
	font-size: 30px;
	font-family: georgia;
	color: lightcyan;
}

.navbar-search {
	margin-top: 12px;
}

.navbar-searchbar {
	width: 300px;
	color: lightslategrey;
}

.navbar-searchbutton {
	color: lightslategrey;
}

.navbar-acct {
	color:lightcyan;
}

.navbar-right {
	color:lightcyan;
	margin-top: 10px;
	margin-bottom: 5px;
}

.navbar-acct {
	padding: 5px;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

.nav-stacked > li.active > a {
    background-color: teal;
    color: lightcyan;
}

.nav-stacked > li.active > a:hover {
    background-color: cadetblue;
    color: lightcyan;
}

.nav-stacked > li.active > a:focus {
    background-color: cadetblue;
    color: lightcyan;
}

.imghome {
	vertical-align: center;
	margin-left: 200px;
	width: 700px;
}

.form-space {
	padding-top: 20px;
}

td {
	padding-bottom: 5px;
}

.form-qty {
	width: 30px;
}

.currencyinput {
	border: 1px inset #ccc;
}

.currencyinput input {
	border: 0;
}

.form-textarea {
	size: fixed;
	min-width: 50;
	max-width: 50;
	min-height: 10;
	max-height: 10;
}

.form-submit {
	text-align: center;
}

.form-price {
	margin-top: 20px;
}

.form-radio {
	padding-top: 23px;
}

.table-revieworders {
	border-radius: 2px;
	background-color: ivory;
	text-align: center;
}

.table-revieworders > thead > tr > td {
	font-weight: bold;
}

span{
	height:24px;
	padding-top: 3px;
}

.center{
	margin-left: 200px;
	text-align: center;
}

.btn-right{
	float: right;
}

span{
	height:24px;
	padding-top: 3px;
}

.center{
	margin-left: 200px;
	text-align: center;
}

hr{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.image-left{
	float: left;
	background-color: lightcyan;
	width: 200px;
	height: 250px;
	text-align: center;
	margin: 20px;
}
a{
	color: white;
}

.hero-unit a{
	color: orange;
}

a:link{
	text-decoration: none;
}